# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.timer_manager.mcxw23
    bool "timer_manager.mcxw23"
    default n
    help
        Enable component.timer_manager.mcxw23 component
    select MCUX_COMPONENT_driver.common
    select MCUX_COMPONENT_component.lists

    if MCUX_COMPONENT_component.timer_manager.mcxw23
        choice MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer.selection
            prompt "component.timer_manager anyof dependency"
            default MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer_manager_ctimer
            config MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer_manager_ctimer
                bool "Select component.ctimer_adapter"
                select MCUX_COMPONENT_component.ctimer_adapter
                depends on MCUX_HAS_COMPONENT_driver.ctimer
            config MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer_manager_ostimer
                bool "Select timer_manager component.ostimer_adapter"
                select MCUX_COMPONENT_component.ostimer_adapter
                depends on MCUX_HAS_COMPONENT_driver.ostimer
        endchoice
    endif