# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"

    config MCUX_COMPONENT_driver.aon_common
         bool "Use driver aon_common"
         default y

    config MCUX_COMPONENT_driver.clock
         bool "Use driver clock"
         default y

    config MCUX_COMPONENT_driver.edma_soc
         bool "Use driver edma_soc"
         default n

    config MCUX_COMPONENT_driver.inputmux_connections
         bool "Use driver inputmux_connections"
         default y

    config MCUX_COMPONENT_driver.ipmq
         bool "Use driver ipmq"
         default y

    config MCUX_COMPONENT_driver.power
         bool "Use driver power"
         default y

    config MCUX_COMPONENT_driver.reset
         bool "Use driver reset"
         default y

    config MCUX_COMPONENT_driver.romapi
         bool "Use driver romapi"
         default y

    config MCUX_COMPONENT_driver.trdc_soc
         bool "Use driver trdc_soc"
         default n

    config MCUX_COMPONENT_driver.aon_rtc
         bool "Use driver aon_rtc"
         default n

    config MCUX_COMPONENT_driver.aon_gpio
         bool "Use driver aon_gpio"
         default n
endmenu
