# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"

    rsource "romapi/Kconfig"

    config MCUX_COMPONENT_driver.clock
         bool "clock"
         default n

    config MCUX_COMPONENT_driver.edma_soc
         bool "edma_soc"
         default n

    config MCUX_COMPONENT_driver.inputmux_connections
         bool "inputmux_connections"
         default y

    config MCUX_COMPONENT_driver.ipmq
         bool "ipmq"
         default n

    config MCUX_COMPONENT_driver.power
         bool "Use driver power"
         select MCUX_COMPONENT_driver.wuu if MCUX_HW_CORE_ID_CM33
         select MCUX_COMPONENT_driver.mcx_cmc if MCUX_HW_CORE_ID_CM33
         select MCUX_COMPONENT_driver.mu1
         select MCUX_COMPONENT_driver.smm
         select MCUX_COMPONENT_driver.pls_pmu
         
    config MCUX_COMPONENT_driver.reset
         bool "reset"
         default y

    config MCUX_COMPONENT_driver.trdc_soc
         bool "trdc_soc"
         default n

endmenu
