# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.romapi
    bool
    default y

menu "Device specific drivers configuration"

    rsource "../../MCXW236/drivers/Kconfig_clock"
    rsource "../../MCXW236/drivers/Kconfig_inputmux_connections"
    rsource "../../MCXW236/drivers/Kconfig_power"
    rsource "../../MCXW236/drivers/Kconfig_reset"
    rsource "../../MCXW236/drivers/Kconfig_romapi"

endmenu
