# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"
    rsource "../../MCXE31B/drivers/Kconfig_clock"
    rsource "../../MCXE31B/drivers/Kconfig_dcm_gpr"
    rsource "../../MCXE31B/drivers/Kconfig_edma_soc"
    rsource "../../MCXE31B/drivers/Kconfig_memory"
    rsource "../../MCXE31B/drivers/Kconfig_siul2"
    rsource "../../MCXE31B/drivers/Kconfig_power"
endmenu
